name: traceability-disabled

on:
  pull_request:
    branches:
      - dev
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  traceability-disabled:
    runs-on: ubuntu-latest
    steps:
      - uses: neo4j/github-action-traceability@v2
        with:
          global_verification_strategy: disabled
          trello_api_key: "none"
          trello_api_token: "none"
          github_api_token: "none"
          github_repository_owner: context.repo.owner
          github_repository_name: context.repo.repo
          pull_request_number: context.issue.number
